<h2>Add your user details below!!</h2>
<div class="form-container">
    <h2>Add User</h2>
    <form (ngSubmit)="addUser()" #userForm="ngForm">
        <div class="form-group">
            <label for="id">Id:</label>
            <input
              type="number"
              id="id"
              name="id"
              [(ngModel)]="addeduserData.id"
              required
            />
          </div>
      <div class="form-group">
        <label for="name">Username:</label>
        <input
          type="text"
          id="name"
          name="name"
          [(ngModel)]="addeduserData.name"
          required
        />
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="addeduserData.email"
          required
        />
      </div>
      <button type="submit" [disabled]="userForm.invalid">Add User</button>
    </form>
  </div>